Outline:
1. Introduction to Data Types
2. Importance of Data Types in Programming
3. Basic Data Types
   - Integers
   - Floating-point numbers
   - Strings
   - Booleans
4. Advanced Data Types
   - Lists
   - Tuples
   - Sets
   - Dictionaries
5. Type Conversion

## DataTypes
1. Definition:
- Data types are a classification of data which tell the compiler or interpreter how the programmer intends to use the data.
- They determine the type of operations that can be performed on the data, the values that the data can take, and the amount of memory needed to store the data.
2. Importance of Data Types in Programming
- Data types ensure that data is stored in an efficient way.
- They help in performing correct operations on data.
- Proper use of data types can prevent errors and bugs in the program.

In [1]:
## integer datatype example
age = 21
type(age)

int

In [2]:
## float datatype example
height = 5.6
type(height)

float

In [4]:
## string datatype example
name = "Shadan"
print(name)
print(type(name))

Shadan
<class 'str'>

In [5]:
## boolean datatype example
is_techie = True
type(is_techie)

bool

In [6]:
a = 10
b = 10

type(a==b)

bool

In [ ]:
## common errors

result = "Hi" + 5

# it will throw TypeError: can only concatenate str (not "int") to str

In [ ]:
result="Hello" + str(5)
print(result)

Hello5