### Outline:
1. Introduction to Operators
2. Arithmetic Operators
3. Comparison Operators
4. Logical Operators
5. Practical Examples and Common Errors

Operators
- Operators are special symbols/keywords used to perform operation on variables and values.

Arithmetic Operators
   - Addition(+)
   - Subtraction(-)
   - Multiplication(*)
   - Division(/)
   - Floor Division(//)
   - Modulus(%)
   - Exponentiation(**)

Comparison Operators
   - Equal to(==)
   - Not equal to(!=)
   - Greater than(>)
   - Less than(<)
   - Greater than or equal to (>=)
   - Less than or equal to(<=)

Logical Operators
   - AND
   - OR
   - NOT

### Arithmetic Operators

In [1]:
## Arithmetic Operators

a = 10
b = 5

add_result = a + b
sub_result = a - b
mul_result = a * b
div_result = a / b
floorDiv_result = a // b
mod_result = a % b
exp_result = a ** b

print(add_result)
print(sub_result)
print(mul_result)
print(div_result)
print(floorDiv_result)
print(mod_result)
print(exp_result)

15
5
50
2.0
2
0
100000

In [2]:
19/4

4.75

In [3]:
19//4

4

### Comparision Operators

In [4]:
## Comparision Operators
## ==

a = 10
b = 10

a == b

True

In [5]:
str1 = "Shadan"
str2 = "Shadan"

str1 == str2

True

In [6]:
## Not Equal to !=
str1 != str2

False

In [8]:
str3 = "Shadan"
str4 = "shadan"

str3 != str4

True

In [9]:
# greater than >

num1 = 45
num2 = 55

num1 > num2

False

In [10]:
# less than <

num1 = 45
num2 = 55

num1 < num2

True

In [11]:
#greater than or equal to
number1 = 45
number2 = 45

print(number1 >= number2)

True

In [12]:
#less than or equal to
number1 = 44
number2 = 45

print(number1 <= number2)

True

### Logical Operators

In [13]:
## And ,Not,OR
X=True
Y=True

result =X and Y
print(result)

True

In [14]:
X=False
Y=True

result =X and Y
print(result)

False

In [15]:
## OR
X=False
Y=False

result =X or Y
print(result)

False

In [16]:
# Not operator
X=False
not X

True

In [17]:
## Simple Calculator

# Simple calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

# Performing arithmetic operations
addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2
floor_division = num1 // num2
modulus = num1 % num2
exponentiation = num1 ** num2

# Displaying results
print("Addition:", addition)
print("Subtraction:", subtraction)
print("Multiplication:", multiplication)
print("Division:", division)
print("Floor Division:", floor_division)
print("Modulus:", modulus)
print("Exponentiation:", exponentiation)

Addition: 5.0
Subtraction: -1.0
Multiplication: 6.0
Division: 0.6666666666666666
Floor Division: 0.0
Modulus: 2.0
Exponentiation: 8.0